.masthead {
  background-color: aquamarine;
}
.visuallyhidden{
  display:none;
}
#search-keyword {
  width: 80%;
  border: 2px solid cadetblue;
}
#submit-btn{
  background-color: blue;
}
#response-container{
  background: azure;
}
img{
  margin-top:2em;
  width: 250px;
  height: 250px;

}